<div class="container">
  <div class="fantasy-controls-wrap">
    <div class="">
      <div class="">
        <button type="button" class="btn-fantasy btn btn-primary" (click)="refreshList()" name="button">
          Обновить
        </button>
      </div>
      <div class="">
        <button type="button" class="btn-fantasy btn btn-primary" (click)="model.showMap = !model.showMap; showMap();" name="button">
          Карта мира
        </button>
      </div>
    </div>
    <div class="fantasy-clan-filter">
      <div class="form-inline">

        <label>
          Клан:
          <guild *ngIf="heroClanFirst" guildText="asd" guildId="{{heroClanFirst.id}}"></guild>

        </label>
        <select [(ngModel)]="model.clan" (ngModelChange)="clanChange()" class="fantasyland-clan form-control select-fantasy" required>
          <option *ngFor="let p of clanList" [value]="p.id">{{p.name}}</option>
        </select>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label>Сортировать:</label>
          <select [(ngModel)]="model.sortBy" class="select-fantasy form-control">
            <option *ngFor="let p of sortList" [value]="p.sort">{{p.name}}</option>
          </select>
        </div>
        <div class="form-group" style="margin-left: 10px;">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="model.heroesActiveStatus" (ngModelChange)="statusChange()">
              <span>Только активные</span>
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="fantasy-clan-info" *ngIf="heroes">
      <div class="">
        Всего в клане:
        <strong class="badge">{{heroes.length}}</strong>
      </div>
      <div class="">
        Онлайн в клане:
        <strong class="text-success badge">{{heroesOnline}}</strong>
      </div>
      <div class="">
        В бою соклановцев:
        <strong class="text-danger badge">{{heroesCombat}}</strong>
      </div>
    </div>
    <div>
      <bonus bonusHero="{{heroesFirst}}"></bonus>
    </div>
  </div>
</div>
<div class="container" *ngIf="model.showMap">
  <div class="row map">
    <div class="col-xs-3 col-lg-2 col-md-3">
      <section class="transparent-bg" style="">

        <table align="center" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td>
              <img src="http://fantasyland.ru/images/miscellaneous/title_left.gif" width="42" height="33">
            </td>
            <td align="center" valign="top">
              <table align="center" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td width="100%" height="20" background="http://fantasyland.ru/images/miscellaneous/title_center.gif"
                      valign="top">
                    <b>Онлайн</b>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <td>
              <img src="http://fantasyland.ru/images/miscellaneous/title_right.gif" width="42" height="33">
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngFor="let p of totalLocation">
          <small>
            {{p['location']}}: <span class="badge pull-right">{{p['count']}}</span>
          </small>
        </div>
      </section>
    </div>
    <div class="col-xs-8 col-lg-8 col-md-6 text-center">
      <svg  viewBox="0 0 700 320" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <image id="map_new" x="0" y="0"
                 xlink:href="http://fantasyland.ru/images/places/map_new.jpg"></image>
          <g transform="translate(57.000000, 51.000000)" fill="#7ED321">
            <path class="map-item"
                  d="M43,23 C44.1045695,23 45,22.1045695 45,21 C45,19.8954305 44.1045695,19 43,19 C41.8954305,19 41,19.8954305 41,21 C41,22.1045695 41.8954305,23 43,23 Z"
                  id="Каменный-Клык"></path>
            <path class="map-item"
                  d="M74,4 C75.1045695,4 76,3.1045695 76,2 C76,0.8954305 75.1045695,0 74,0 C72.8954305,0 72,0.8954305 72,2 C72,3.1045695 72.8954305,4 74,4 Z"
                  id="Горный-Замок"></path>
            <circle class="map-item" id="Шахты" cx="90" cy="29" r="2"></circle>
            <circle class="map-item" id="Долина-Магов" cx="41" cy="94" r="2"></circle>
            <path class="map-item"
                  d="M96,126 C97.1045695,126 98,125.104569 98,124 C98,122.895431 97.1045695,122 96,122 C94.8954305,122 94,122.895431 94,124 C94,125.104569 94.8954305,126 96,126 Z"
                  id="Лагерь-Наемников"></path>
            <path class="map-item"
                  d="M109,85 C110.104569,85 111,84.1045695 111,83 C111,81.8954305 110.104569,81 109,81 C107.895431,81 107,81.8954305 107,83 C107,84.1045695 107.895431,85 109,85 Z"
                  id="Столица"></path>
            <path class="map-item"
                  d="M217,6 C218.104569,6 219,5.1045695 219,4 C219,2.8954305 218.104569,2 217,2 C215.895431,2 215,2.8954305 215,4 C215,5.1045695 215.895431,6 217,6 Z"
                  id="Башня-Смерти"></path>
            <path class="map-item"
                  d="M227,94 C228.104569,94 229,93.1045695 229,92 C229,90.8954305 228.104569,90 227,90 C225.895431,90 225,90.8954305 225,92 C225,93.1045695 225.895431,94 227,94 Z"
                  id="Замок-Паладинов"></path>
            <path class="map-item"
                  d="M197,161 C198.104569,161 199,160.104569 199,159 C199,157.895431 198.104569,157 197,157 C195.895431,157 195,157.895431 195,159 C195,160.104569 195.895431,161 197,161 Z"
                  id="Лотариель"></path>
            <path class="map-item"
                  d="M166,196 C167.104569,196 168,195.104569 168,194 C168,192.895431 167.104569,192 166,192 C164.895431,192 164,192.895431 164,194 C164,195.104569 164.895431,196 166,196 Z"
                  id="Илдиор"></path>
            <path class="map-item"
                  d="M235,172 C236.104569,172 237,171.104569 237,170 C237,168.895431 236.104569,168 235,168 C233.895431,168 233,168.895431 233,170 C233,171.104569 233.895431,172 235,172 Z"
                  id="Лагденойский-Лес"></path>
            <path class="map-item"
                  d="M136,231 C137.104569,231 138,230.104569 138,229 C138,227.895431 137.104569,227 136,227 C134.895431,227 134,227.895431 134,229 C134,230.104569 134.895431,231 136,231 Z"
                  id="Болотный-Замок"></path>
            <path class="map-item"
                  d="M266,222 C267.104569,222 268,221.104569 268,220 C268,218.895431 267.104569,218 266,218 C264.895431,218 264,218.895431 264,220 C264,221.104569 264.895431,222 266,222 Z"
                  id="Ведьмины-Топи"></path>
            <circle class="map-item" id="Лесной-Замок" cx="269" cy="148" r="2"></circle>
            <circle class="map-item" id="Руины" cx="345" cy="198" r="2"></circle>
            <path class="map-item"
                  d="M420,171 C421.104569,171 422,170.104569 422,169 C422,167.895431 421.104569,167 420,167 C418.895431,167 418,167.895431 418,169 C418,170.104569 418.895431,171 420,171 Z"
                  id="Древнее-Ущелье"></path>
            <path class="map-item"
                  d="M370,103 C371.104569,103 372,102.104569 372,101 C372,99.8954305 371.104569,99 370,99 C368.895431,99 368,99.8954305 368,101 C368,102.104569 368.895431,103 370,103 Z"
                  id="Заброшенная-Ферма"></path>
            <path class="map-item"
                  d="M295,73 C296.104569,73 297,72.1045695 297,71 C297,69.8954305 296.104569,69 295,69 C293.895431,69 293,69.8954305 293,71 C293,72.1045695 293.895431,73 295,73 Z"
                  id="Пещеры-Драконов"></path>
            <path class="map-item"
                  d="M317,29 C318.104569,29 319,28.1045695 319,27 C319,25.8954305 318.104569,25 317,25 C315.895431,25 315,25.8954305 315,27 C315,28.1045695 315.895431,29 317,29 Z"
                  id="Башня-Хаоса"></path>
            <path class="map-item"
                  d="M559,179 C560.104569,179 561,178.104569 561,177 C561,175.895431 560.104569,175 559,175 C557.895431,175 557,175.895431 557,177 C557,178.104569 557.895431,179 559,179 Z"
                  id="Порт"></path>
            <path class="map-item"
                  d="M534,220 C535.104569,220 536,219.104569 536,218 C536,216.895431 535.104569,216 534,216 C532.895431,216 532,216.895431 532,218 C532,219.104569 532.895431,220 534,220 Z"
                  id="Пустынный-Замок"></path>
            <circle class="map-item" id="Башня-Величия" cx="403" cy="240" r="2"></circle>
            <path class="map-item"
                  d="M2,220 C3.1045695,220 4,219.104569 4,218 C4,216.895431 3.1045695,216 2,216 C0.8954305,216 0,216.895431 0,218 C0,219.104569 0.8954305,220 2,220 Z"
                  id="Маковый-Лес"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="col-xs-3 col-lg-2 col-md-3">
      <section class="transparent-bg" style="max-height: 270px;overflow: auto;">

        <table align="center" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td>
              <img src="http://fantasyland.ru/images/miscellaneous/title_left.gif" width="42" height="33">
            </td>
            <td align="center" valign="top">
              <table align="center" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td width="100%" height="20" background="http://fantasyland.ru/images/miscellaneous/title_center.gif"
                      valign="top">
                    <b>Всего</b>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
            <td>
              <img src="http://fantasyland.ru/images/miscellaneous/title_right.gif" width="42" height="33">
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngFor="let p of totalLocationOffline">
          <small>
            {{p['location']}}: <span class="badge pull-right">{{p['count']}}</span>
          </small>
        </div>
      </section>
    </div>
  </div>

</div>
<div class="container container-heroes-wrap">
  <div *ngFor="let hero of heroes | sortArray: model.sortBy | showActive:model.heroesActiveStatus">
    <div class="row">
      <div class="col-xs-6 truncate">
        <div class="heroName">
          <span class="heroName-level">[Lvl:{{hero.level}}]</span>
          <span class="heroName-guild">
            <guild *ngFor="let guild of hero.guild" guildText="{{'('+guild.status + ') - [' + [guild.exp] + ']'}}" guildId="{{guild.id}}"></guild>
          </span>
          <span class="heroName-name hero-login">
            <span [heroStyle]="{style: hero.style, color: hero.color}">
              {{ hero.name }}
            </span>
          </span>
          <span class="hero-clan-status" [innerHTML]="hero.clanStatus"></span>
        </div>
      </div>
      <div class="col-xs-1">
        <span class="showDetails" *ngIf="!hero.showDetails" (click)="hero.showDetails = !hero.showDetails">
          <img src="http://fantasyland.ru/images/miscellaneous/e_plus.gif" alt="">
        </span>
        <span class="showDetails" *ngIf="hero.showDetails" (click)="hero.showDetails = !hero.showDetails">
          <img src="http://fantasyland.ru/images/miscellaneous/e_minus.gif" alt="">
        </span>
        <a href="http://fantasyland.ru/cgi/pl_info.php?login={{ hero.name }}" target="_blank">
          <img src="http://fantasyland.ru/images/miscellaneous/info_{{hero.gender}}.gif" alt=""/>
        </a>
        <a style="margin-left: 5px;" *ngIf="hero.combat !== '0'" target="_blank"
           href="http://fantasyland.ru/cgi/pl_combat.php?num={{hero.combat}}">
          <img src="http://fantasyland.ru/images/status/ch_combat.gif" alt=""/>
        </a>
      </div>
      <div class="col-xs-3 truncate">
        <div *ngIf="hero.location1 == 'Unknown'">
          <em>
            <small>Неизвестно</small>
          </em>
        </div>
        <hero-location
          *ngIf="hero.location1 !== 'Unknown'"
          roomDataBase="{{roomStatus}}"
          locationDataBase="{{locationStatus}}"
          heroLocation="{{hero.location1}}"
          heroRoom="{{hero.location2}}">
        </hero-location>
      </div>
      <div class="col-xs-2">
        <div class="" *ngIf="hero.location1 !== 'Unknown'">
          <span *ngIf="hero.status == 'online'" class="text-success">Online</span>
            <span class="text-gray" *ngIf="hero.status == 'offline'">
              {{ hero.dateFromNow }}
            </span>
        </div>
        <div *ngIf="hero.status == 'invisible'">
          <em>
            <small>Неизвестно</small>
          </em>
        </div>
      </div>
    </div>
    <hero-info *ngIf="hero.showDetails" heroStatus="{{hero.status}}" heroId="{{hero.name}}"></hero-info>
  </div>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
